{% extends "layout.html.twig" %}

{% block content %}
    <h1>Things ({{things|length}})</h1>
    
    <ul>
        {% for thing in things %}
        <li><a href="{{ path("things_view", {"thingId": thing.getId() })}}">#{{ thing.id }}: {{ thing.name }}</a><br />
            <i>{{thing.description}}</i>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
