{% extends "layout.html.twig" %}

{% block content %}
    <h1>Thing ({{thing.getId()}})</h1>
    
    ID: {{thing.getId}}<br />
    Name: {{thing.getName}}<br />
    Description: {{thing.getDescription}}<br />
    
    <div class="buttonbox">
        <a href="{{ path('things_index' )}}" class="btn btn-default">Back</a>
        <a href="{{ path('things_edit', {'thingId': thing.getId()}) }}" class="btn btn-primary" role="button">
            <i class="fa fa-edit"></i>
            Edit
        </a>
    </div>
    
{% endblock %}
